body {
  background-image:url(https://image.freepik.com/foto-gratis/coleccion-humo-blanco-sobre-fondo-negro_1112-1612.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
}

h1{
  color: white;
	font-size: 60px;
	padding: 5px;
  text-align: center;

}

h2{
	color: cornsilk;
	font-size: 30px;
	padding: 2px;
}


p{
	color: lightgrey;
	font-size: 20px;
}

#root{
	  text-align: center;
}

input{
 background:darkgray;
 color: inherit;
 padding: 2px
}

#Clave{
	background: lightgrey;
}
